
.DS_Store
__pycache__/
.vscode/
.env.*

# hf trainer checkpoints
checkpoint-*/
*/checkpoint-*/

# trainer state files
trainer_state.json
optimizer.pt
scheduler.pt
rng_state.pth

# model specs
*.bin
*.safetensors
